body {
    min-height: 100vh;
    background-image: linear-gradient(
      to right top,
      #80f116,
      #6cf014,
      #88ee13,
      #87ed12,
      #69eb12
    );
  }
  
  h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    font-family: "Rubik Moonrocks";
    letter-spacing: 5px;
  }
  
  .input-group {
    min-width: 70%;
    padding: 0 10%;
  }
  
  .btn {
    color: #fff !important;
  }
  .img-thumbnail {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }